
*.lck
*.?#?
*.pro


galgas_firmware/.vs
galgas_firmware/galgas_firmware/ArduinoCore/Release/
galgas_firmware/galgas_firmware/ArduinoCore/Debug/
galgas_firmware/galgas_firmware/firmware/Release/
galgas_firmware/galgas_firmware/firmware/Debug/
